# - - - OpenRouter Settings - - -
OPENROUTER_API_KEY=YOUR_TOKEN
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# - - - DB Params - - -
MONGO_URI=mongodb://root:rootpassword@127.0.0.1:27017
DB_NAME=dtmai

# - - - Bot Params - - -
TELEGRAM_TOKEN=YOUR_TOKEN
ADMIN_ID=

# - - - MINIO Params - - -
MINIO_URL=http://127.0.0.1:9000
MINIO_USERNAME=
MINIO_PASSWORD=
MINIO_BUCKET=dtmai
MINIO_PUBLIC_URL=https://storage.example.com
