# - - - OpenRouter Settings - - -
# REQUIRED
# Replace with your token
# Sample: OPENROUTER_API_KEY=YOUR_TOKEN
OPENROUTER_API_KEY=
# REQUIRED
# DO NOT CHANGE THIS VALUE UNTIL NEEDED
# Address of OpenAI-like API
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# - - - Mongo DB Params - - -
# REQUIRED
MONGO_USER=mongo
# REQUIRED
# CHANGE THIS FOR SECURITY REASONS
# Sample: MONGO_PASSWORD=YOUR_PASSWD
MONGO_PASSWORD=
# REQUIRED
# You can use multiple hosts, if you use replica set
# or a shaded cluster - just separate them with commas.
# Like this: 'mdb1.21id.uz:27017,mdb2.21id.uz:27017'
MONGO_HOSTS=127.0.0.1:27017
# REQUIRED
# Database name, which will be used. You shouldn't
# use 'test' database name
MONGO_DB_NAME=dtmai
# OPTIONAL
# You can set options for your database, but they should
# start with a question sign.
# Like this: '?retryWrites=true'
MONGO_OPTIONS=
# DO NOT CHANGE THIS VALUE
MONGO_URI="mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOSTS}/${MONGO_DB_NAME}${MONGO_OPTIONS}"

# - - - Bot Params - - -
# REQUIRED
# Sample: TELEGRAM_TOKEN=YOUR_TOKEN
TELEGRAM_TOKEN=
# REQUIRED
# Sample: ADMINS_IDS=19824769,89124790
ADMINS_IDS=

# - - - MINIO Params - - -
# REQUIRED
MINIO_URL=http://127.0.0.1:9000
# DO NOT CHANGE THIS VALUE
MINIO_USERNAME=minio
# CHANGE THIS FOR SECURITY REASONS
# Sample: MINIO_PASSWORD=YOUR_PASSWD
MINIO_PASSWORD=
# DO NOT CHANGE THIS VALUE
MINIO_BUCKET=dtmai
# REQUIRED
# MINIO_PUBLIC_URL=https://storage.example.com
MINIO_PUBLIC_URL=https://storage.example.com
